:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: rgb(9, 9, 104);
    --secondary-color: rgb(220, 130, 238);
}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

/* style applies to everything in the heater */
header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/* High score link */
.view-score {
    color: var(--secondary-color);
    text-decoration: none;
}

/* style applies to everything in the main tag */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

/* First page text */
.text {
    text-align: center;
    width: 46%;
    margin: 10px;
}

/* First page title */
h1 {
    text-align: center;
    font-size: 36px;
    width: 62%;
}

/* style applies to all buttons */
.quiz-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.quiz-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* question style */
.questions {
    text-align: left;
    font-size: 36px;
    width: 85%;
}

/* answer style */
.answers {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.answers-box {
    width: 90%;
}

/* end quiz page */
.end-page{
    width: 55%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.end-title {
    text-align: left;
    font-size: 36px;
    padding: 20px;
    width: auto;
}

.end-text {
    padding: 0 20px;
    text-align: left;
    width: auto;
}

.score-form {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    position: relative;

}

.input-box {
    width: 60%;
    height: 30px;
    margin: 5px 25px;
}

.results {
    display: block;
    font-style: italic;
    border-top: 2px solid lightgray;
    color: lightgrey;
    font-size: 18px;
    position: absolute;
    top: 420px;
    width: 80%;
}

.button-box {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 100px;
    padding: 10px;
}

.score-page {
    display: flex;
    flex-direction: column;
}

.score-title {
    position: relative;
    right: 100px;
    width: auto;
}

.score-list {
    position: relative;
    right: 50px;
}

.score-btns {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 80px;
    padding: 10px;
    width: 300px;
}