:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: rgb(9, 9, 104);
    --secondary-color: rgb(220, 130, 238);
}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

/* style applies to everything in the heater */
header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/* High score link */
.view-score {
    color: var(--secondary-color);
    text-decoration: none;
}

/* style applies to everything in the main tag */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 67%;
}

main section p {
    text-align: center;
    width: 62%;
    margin: 10px;
}

/* style applies to all buttons */
.quiz-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.quiz-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
