:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: rgb(9, 9, 104);
    --secondary-color: rgb(220, 130, 238);
}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

/* style applies to everything in the heater */
header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/* High score link */
.view-score {
    color: var(--secondary-color);
    text-decoration: none;
}

/* style applies to everything in the main tag */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

/* First page text */
.text {
    text-align: center;
    width: 46%;
    margin: 10px;
}

/* First page title */
h1 {
    text-align: center;
    font-size: 36px;
    width: 62%;
}

/* style applies to all buttons */
.quiz-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.quiz-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* question style */
.questions {
    text-align: left;
    font-size: 36px;
    width: 85%;
}

/* answer style */
.answers {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.answers-box {
    width: 90%;
}

/* end quiz page */
.end-title {
font-size: 36px;
width: auto;
}